<app-loading-overlay *ngIf="isLoading"></app-loading-overlay>
<app-filtro-admin (filterChange)="onFilterChange($event)"></app-filtro-admin>
<div class="row">
  <div class="col-12">
    <div class="form-section-title">
      Resultados
      <!-- <button class="btn btn-primary btn-primary-2 btn-sm float-end" (click)="openModalCreateUpdate()">Agregar Cliente</button> -->
    </div>
  </div>
  <div class="col-12">
    <div class="alert alert-warning text-center mb-3" *ngIf="message.length > 0">
      <p *ngFor="let msg of message">{{ msg }}</p>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="card shadow-lg mb-3">
      <div class="card-header">
        <strong>Historial diario de consultas</strong>
        <div class="float-end">
          <select class="form-control" name="month" [(ngModel)]="currentMonth">
            <option *ngFor="let month of monthList" [value]="month.value">{{ month.name }}</option>
          </select>
        </div>
      </div>
      <div class="card-body">
        <ngx-charts-area-chart [results]="single" [xAxis]="true" [yAxis]="true" [yAxisLabel]="'Cantidad de Consultas'"
          [xAxisLabel]="'Días del Mes'">
        </ngx-charts-area-chart>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-12">
    <div class="card shadow-lg mb-3">
      <div class="card-header">
        <strong>Historial mensual de consultas</strong>
      </div>
      <div class="card-body">
        <ngx-charts-area-chart [results]="single" [xAxis]="true" [yAxis]="true" [yAxisLabel]="'Cantidad de Consultas'"
          [xAxisLabel]="'Días del Mes'">
        </ngx-charts-area-chart>
      </div>
    </div>
  </div>
</div>
