<form [formGroup]="myForm" class="card">
  <h3 class="card-title">Filtro de búsqueda</h3>

  <div class="grid md:grid-cols-4 lg:grid-cols-6 gap-4">
      <div class="field">
        <label>Año</label>
        <select class="input-control" formControlName="year" (change)="onApplyFilter()">
          <option *ngFor="let item of yearList" [value]="item">{{ item }}</option>
        </select>
      </div>
      <div class="field md:col-span-2">
        <label>Cliente</label>
        <select class="input-control" formControlName="client_id" (change)="onApplyFilter()">
          <option value="">-Todos-</option>
          <option *ngFor="let item of clientList" [value]="item.id">{{ item.name | uppercase}}</option>
        </select>
      </div>
      <div class="field">
        <label>Consulta</label>
        <select class="input-control" formControlName="endpoint_id" (change)="onApplyFilter()">
          <option *ngIf="endpointList.length === 0" value="0">-Seleccionar-</option>
          <option *ngFor="let item of endpointList" [value]="item.id">{{ item.name | uppercase}}</option>
        </select>
      </div>
      <div class="flex items-end gap-2">
        <button #btn type="button" (click)="onApplyFilter()" class="btn btn-primary">
          <i class="si-search"></i>
          <span>Buscar</span>
        </button>

        <button type="button" (click)="resetForm()" class="btn btn-warning">
          <i class="si-brush"></i>
          <span>Limpiar</span>
        </button>
      </div>
  </div>
</form>
