<app-loading-overlay *ngIf="isLoading"></app-loading-overlay>

<div class="modal-header">
  <h5 class="modal-title">{{titleModal | uppercase}}</h5>
  <button type="button" class="btn-close" aria-label="Close" [mat-dialog-close]="false"></button>
</div>

<mat-dialog-content class="modal-body">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="text-base text-primary-500">Datos de contacto</div>
    <div class="field required" [ngClass]="{'has-error': myForm.get('name')?.invalid && myForm.get('name')?.touched}">
      <label class="form-label">Nombres y Apellidos</label>
      <input type="text" class="input-control" formControlName="name" placeholder="Ingresa Nombre" [required]="myForm.get('name')?.invalid && myForm.get('name')?.touched ? true : false" >
    </div>
    <div class="text-base text-primary-500">Datos de acceso</div>
    <div class="grid md:grid-cols-2">
      <div class="field required" [ngClass]="{'has-error': myForm.get('role')?.invalid && myForm.get('role')?.touched}">
        <label>Perfil</label>
        <select class="input-control" formControlName="role" [required]="myForm.get('role')?.invalid && myForm.get('role')?.touched ? true : false">
          <option *ngFor="let role of roles" [value]="role.key">{{role.name}}</option>
        </select>
      </div>
    </div>
    <div class="grid md:grid-cols-2 gap-4 mb-4">
      <div class="field required" [ngClass]="{'has-error': myForm.get('username')?.invalid && myForm.get('username')?.touched}">
        <label>Usuario</label>
        <input type="text" class="input-control" formControlName="username" placeholder="Ingresa usuario" [required]="myForm.get('username')?.invalid && myForm.get('username')?.touched ? true : false">
      </div>
      <div class="field" [ngClass]="{'has-error': myForm.get('password')?.invalid && myForm.get('password')?.touched}">
        <label class="form-label">Contraseña</label>
        <input
          type="password" class="input-control" formControlName="password"
          placeholder="********" [required]="myForm.get('password')?.invalid && myForm.get('password')?.touched ? true : false"
        >
      </div>
    </div>
    <button #btnSubmit type="submit" style="display: none;">Guardar</button>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="modal-footer">
  <button class="btn btn-light" type="button" [mat-dialog-close]="false">Cancelar</button>
  <button class="btn btn-success" type="button" (click)="clickSubmitButton(btnSubmit)">
    <i class="si-disk"></i>
    <span>Guardar</span>
  </button>
</mat-dialog-actions>
