<app-loading-overlay *ngIf="isLoading"></app-loading-overlay>

<div class="p-4 border-bottom d-flex justify-content-between align-items-center">
  <h5 class="modal-title">{{titleModal | uppercase}}</h5>
  <button type="button" class="btn-close" aria-label="Close" [mat-dialog-close]="false"></button>
</div>

<mat-dialog-content class="mb-4">

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <div class="form-section-title">Datos de Contacto</div>
      </div>
      <div class="col-12">
        <div class="mb-3" [ngClass]="{'was-validated': myForm.get('name')?.invalid && myForm.get('name')?.touched}">
          <label class="form-label">Nombres y Apellidos</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Ingresa Nombre"
          [required]="myForm.get('name')?.invalid && myForm.get('name')?.touched ? true : false" >
        </div>
      </div>
      <!-- <div class="col-md-6 col-sm-12">
        <div class="mb-3" [ngClass]="{'was-validated': myForm.get('email')?.invalid && myForm.get('email')?.touched}">
          <label class="form-label">Correo electronico</label>
          <input type="text" class="form-control" formControlName="email" placeholder="Ingresa Correo electronico"
          [required]="myForm.get('email')?.invalid && myForm.get('email')?.touched ? true : false" appUppercase
          >
        </div>
      </div> -->
      <div class="col-12">
        <div class="form-section-title">Datos de Acceso</div>
      </div>
      <div class="col-md-6 col-12">
        <div class="mb-3" [ngClass]="{'was-validated': myForm.get('role')?.invalid && myForm.get('role')?.touched}">
          <label class="form-label">Perfil</label>
          <select class="form-select" formControlName="role"
          [required]="myForm.get('role')?.invalid && myForm.get('role')?.touched ? true : false">
            <option *ngFor="let role of roles" [value]="role.key">{{role.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-12"></div>
      <div class="col-md-6 col-sm-12">
        <div class="mb-3" [ngClass]="{'was-validated': myForm.get('username')?.invalid && myForm.get('username')?.touched}">
          <label class="form-label">Usuario</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Ingresa usuario"
          [required]="myForm.get('username')?.invalid && myForm.get('username')?.touched ? true : false"
          >
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="mb-3" [ngClass]="{'was-validated': myForm.get('password')?.invalid && myForm.get('password')?.touched}">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" formControlName="password" placeholder="********"
          [required]="myForm.get('password')?.invalid && myForm.get('password')?.touched ? true : false"
          >
        </div>
      </div>
      <button #btnSubmit type="submit" class="btn btn-primary" style="display: none;">Guardar</button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="display: block;">
    <div class="form-actions-footer">
        <button class="btn btn-light" type="button" [mat-dialog-close]="false">Cancelar</button>
        <button class="btn btn-success" type="button" (click)="clickSubmitButton(btnSubmit)">Guardar</button>
    </div>
</mat-dialog-actions>
